{% extends 'base.html' %}
{% load staticfiles %}

{% block base_body %}

	<body>
        <style>
            [id*="outter-col"] {
                padding: 2rem;
                border-radius: 25px;
                text-align: center;
                font-weight: bold;
            }
        </style>

        <div class = "container-md px-0">
            <div class = "row">
                <div class = "col-sm" id="outter-col">
                    <br><br>
                    <h3 class="text-dark" style="font-size: 10em;"> 403 </h3>
                    <h3 class="text" style="font-size: 3em; color:#808080;"> Forbidden </h3>
                    <br><br>
                    <div class="border-top border-primary w-75 mx-auto my-3"></div>
                    <br><br>
                    <h3 class="text" style="font-size: 1em;"> You are not authorized to access this page. </h3>
                    <h3 class="text" style="font-size: 1em;"> Please contact the Site Administrators for access. </h3>
                    <h3 class="text" style="font-size: 1em;"> Thank you! </h3>
                    <br><br>
                </div>
            </div>
        </div>
    </body>
{% endblock base_body %}