{% extends 'base.html' %}
{% load staticfiles %}

{% block base_body %}
	<body>
		<body style="background-color:#880000;">
	    <div class="container">
	        <div class="row">
				<!-- WIP -->
				<div class="col-lg-12 col-md-12 form-container">
					<div class="col-lg-3 col-md-12 col-sm-9 col-xs-12 form-box text-center">
						<div class="logo mb-3">
			                <img src="{% static 'img/logo-white.png' %}" width="150px">
			            </div>
			            <div class="heading mb-4">
			                <h4>Account Settings</h4>
			            </div>
						<form method="POST">
							{% csrf_token %}
							{% if request.user.image %}
						        <img src="{{ request.user.image.url }}" style="height:150px; border: 5px solid #ffffff;"/>
						    {% else %}
								<img src="{% static 'img/holderpfp.png' %}" style="height:150px; border: 5px solid #ffffff;"/>
						    {% endif %}
							<div class="form-group">
                        		<span class="btn btn-default btn-file my-4 text-white">
									<input id="input-1" name="input1[]" type="file" accept="image/*" class="file" data-show-caption="true">
                        		</span>
                    		</div>
					        <div class="form-input">
					            <label for="first_name" class="control-label text-white">First Name</label>
					            <input name="first_name" id="first_name" type="text" placeholder="First Name" value="{{ request.user.first_name }}">
					        </div>
					        <div class="form-input">
					            <label for="last_name" class="control-label text-white">Last Name</label>
					            <input name="last_name" id="last_name" type="text" placeholder="Last Name" value="{{ request.user.last_name }}">
					        </div>
					        <div class="text-center mb-3">
					            <button type="submit" class="btn btn-primary btn-lg my-4">Submit</button>
					        </div>
					    </form>
					</div>
				</div>
			</div>
		</div>

</body>
{% endblock base_body %}