{% extends 'base.html' %} <!-- IMPORTANT -->
{% load staticfiles %}
{% block base_body %} <!-- Will replace base_body block in base.html -->
<body>
    <body style="background-color:#880000;"></body>

    <!-- Styling -->
    <!-- Will be part of style.css after testing. -->
    <style>
        [id*="outter-col"] {
            padding: 2rem;
            background-color: #ffffff;
            border: 5px solid #880000;
            border-top: 10px solid #880000;
            border-bottom: 10px solid #880000;
            border-radius: 25px;
            color: #000;
            text-align: center;
            font-weight: bold;
        }
        [id*="inner-col"] {
            padding-top: 1rem;
            text-align: left;
            font-weight: normal;
        }
    </style>

    <div class = "container-md px-0">
        <!-- Definitions. -->
        <div class = "row">
            <div class = "col-sm" id="outter-col">
                <h3 class="text-dark pt-3"> Definitions </h3>
                <div class="border-top border-primary w-100 mx-auto my-3"></div>
                <div class = "col-sm" id="inner-col">
                    <b>Program Educational Objectives:</b><br>
                    Program educational objectives are broad statements that describe 
                    what graduates are expected to attain within a few years of graduation. Program educational objectives 
                    are based on the needs of the program’s constituencies. 
                    <br><br>

                    <b>Student Outcomes:</b><br>
                    Student outcomes describe what students are expected to know and be able to do by the 
                    time of graduation. These relate to the knowledge, skills, and behaviors that students acquire as they progress 
                    through the program. 
                    <br><br>

                    <b>Assessment:</b><br>
                    Assessment is one or more processes that identify, collect, and prepare data to evaluate the 
                    attainment of student outcomes. Effective assessment uses relevant direct, indirect, quantitative and qualitative 
                    measures as appropriate to the outcome being measured. Appropriate sampling methods may be used as part of an 
                    assessment process.
                    <br><br>

                    <b>Evaluation:</b><br>
                    Evaluation is one or more processes for interpreting the data and evidence accumulated through 
                    assessment processes. Evaluation determines the extent to which student outcomes are being attained. Evaluation results 
                    in decisions and actions regarding program improvement.
                    <br><br>

                    <b>General Criteria:</b><br>
                    General Criteria apply to all programs accredited by an ABET commission. Each program accredited 
                    by an ABET commission must satisfy every Criterion that is in the General Criteria for that commission.
                    <br><br>

                    <b>Program Criteria:</b><br>
                    The Program Criteria provide discipline-specific accreditation criteria. Programs must show that 
                    they satisfy all the specific Program Criteria implied by the program title. Any overlapping requirements need be satisfied 
                    only once.
                    <br><br>
                </div>
            </div>
        </div>

        <div class = "row gy-3">
            <!-- Column for general criteria.-->
            <div class = "col-sm" id="outter-col">
                <h3 class="text-dark pt-3"> General Criteria </h3>
                <div class="border-top border-primary w-100 mx-auto my-3"></div>
                <div class = "col-sm" id="inner-col">
                    <b>Criterion 1. Students</b><br>
                    Student performance must be evaluated. Student progress must be monitored to foster success in attaining student outcomes, 
                    thereby enabling graduates to attain program educational objectives. Students must be advised regarding curriculum and career 
                    matters.
                    <br><br>
                    The program must have and enforce policies for accepting both new and transfer students, awarding appropriate academic credit 
                    for courses taken at other institutions, and awarding appropriate academic credit for work in lieu of courses taken at the 
                    institution. The program must have and enforce procedures to ensure and document that students who graduate meet all graduation
                    requirements.
                    <br><br>

                    <b>Criterion 2. Program Educational Objectives</b><br>
                    The program must have published program educational objectives that are consistent with the mission of the institution, the 
                    needs of the program’s various constituencies, and these criteria. There must be a documented, systematically utilized, and 
                    effective process, involving program constituencies, for the periodic review of these program educational objectives that 
                    ensures they remain consistent with the institutional mission, the program’s constituents’ needs, and these criteria.
                    <br><br>

                    <b>Criterion 3. Student Outcomes</b><br>
                    The program must have documented and publicly stated student outcomes that include (1) through (5) below and any outcomes 
                    required by applicable Program Criteria. The program may define additional outcomes. Graduates of the program will have an 
                    ability to:
                    <br><br>

                    <ol>
                    <li>Analyze a complex computing problem and to apply principles of computing and other relevant disciplines to identify 
                    solutions.
                    </li><br>
                    <li>Design, implement, and evaluate a computing-based solution to meet a given set of computing requirements in the 
                    context of the program’s discipline.
                    </li><br>
                    <li>Communicate effectively in a variety of professional contexts.
                    </li><br>
                    <li>Recognize professional responsibilities and make informed judgments in computing practice based on legal and ethical 
                    principles.
                    </li><br>
                    <li>Function effectively as a member or leader of a team engaged in activities appropriate to the program’s discipline.
                    </li><br>
                    </ol>

                    <b>Criterion 4. Continuous Improvement</b><br>
                    The program must regularly use appropriate, documented processes for assessing and evaluating the extent to which the student 
                    outcomes are being attained. The results of these evaluations must be systematically utilized as input for the program’s 
                    continuous improvement actions. Other available information may also be used to assist in the continuous improvement of the 
                    program.
                    <br><br>
                    
                    <b>Criterion 5. Curriculum</b><br>
                    The program’s requirements must be consistent with its program educational objectives and designed in such a way that each of 
                    the student outcomes can be attained. The curriculum must combine technical, professional, and general education components to 
                    prepare students for a career, further study, and lifelong professional development in the computing discipline associated with 
                    the program. 
                    <br><br>
                    The curriculum requirements specify topics, but do not prescribe specific courses. The program must include 
                    mathematics appropriate to the discipline and at least 30 semester credit hours (or equivalent) of up-to-date coverage of 
                    fundamental and advanced computing topics that provide both breadth and depth. The computing topics must include:
                    <br><br>

                    <ol>
                    <li>Techniques, skills, and tools necessary for computing practice.
                    </li><br>
                    <li>Principles and practices for secure computing.
                    </li><br>
                    <li>Local and global impacts of computing solutions on individuals, organizations, and society.
                    </li><br>
                    </ol>

                    <b>Criterion 6. Faculty</b><br>
                    Each faculty member teaching in the program must have expertise and educational background consistent with the contributions 
                    to the program expected from the faculty member. The competence of faculty members must be demonstrated by such factors as 
                    education, professional credentials and certifications, professional experience, ongoing professional development, contributions 
                    to the discipline, teaching effectiveness, and communication skills. Collectively, the faculty must have the breadth and depth to 
                    cover all curricular areas of the program.
                    <br><br>
                    The faculty serving in the program must be of sufficient number to maintain continuity, stability, oversight, student interaction, 
                    and advising. The faculty must have sufficient responsibility and authority to improve the program through definition and revision 
                    of program educational objectives and student outcomes as well as through the implementation of a program of study that fosters the
                    attainment of student outcomes.
                    <br><br>

                    <b>Criterion 7. Facilities</b><br>
                    Classrooms, offices, laboratories, and associated equipment must be adequate to support attainment of the student outcomes and to 
                    provide an atmosphere conducive to learning. Modern tools, equipment, computing resources, and laboratories appropriate to the 
                    program must be available, accessible, and systematically maintained and upgraded to enable students to attain the student outcomes
                    and to support program needs. Students must be provided appropriate guidance regarding the use of the tools, equipment, computing
                    resources, and laboratories available to the program. The library services and the computing and information infrastructure 
                    must be adequate to support the scholarly and professional activities of the students and faculty.
                    <br><br>

                    <b>Criterion 8. Institutional Support</b><br>
                    Institutional support and leadership must be adequate to ensure the quality and continuity of the program.
                    Resources including institutional services, financial support, and staff (both administrative and technical) provided to the 
                    program must be adequate to meet program needs. The resources available to the program must be sufficient to attract, retain, 
                    and provide for the continued professional development of a qualified faculty. The resources available to the program must be 
                    sufficient to acquire, maintain, and operate infrastructures, facilities and equipment appropriate for the program, and to 
                    provide an environment in which student outcomes can be attained.
                    <br><br>
                </div>
            </div>
        </div>

        <!-- Program Criteria. -->
        <div class = "row">
            <div class = "col-sm" id="outter-col">
                <h3 class="text-dark pt-3"> Program Criteria for Computer Sciences </h3>
                <div class="border-top border-primary w-100 mx-auto my-3"></div>
                <div class = "col-sm" id="inner-col">
                    <b>Criterion 3. Student Outcomes</b><br>
                    In addition to outcomes 1 through 5, graduates of the program will also have an ability to apply computer science theory
                    and software development fundamentals to produce computing-based solutions. [CS]
                    <br><br>

                    <b>Criterion 5. Curriculum</b><br>
                    The curriculum requirements specify topics, but do not prescribe specific courses. These requirements are:
                    <br><br>

                    <ol type="a">
                        (a) Computer science: At least 40 semester credit hours (or equivalent) that must include:
                        <br><br><ol>
                            <li>Substantial coverage of algorithms and complexity, computer science theory, concepts of programming languages, and 
                            software development.
                            </li><br>
                            <li>Substantial coverage of at least one general-purpose programming language.
                            </li><br>
                            <li>Exposure to computer architecture and organization, information management, networking and communication, 
                            operating systems, and parallel and distributed computing.
                            </li><br>
                            <li>The study of computing-based systems at varying levels of abstraction.
                            </li><br>
                            <li>A major project that requires integration and application of knowledge and skills acquired in earlier course work.
                            </li><br>
                        </ol>
                        (b) Mathematics: At least 15 semester credit hours (or equivalent) that must include discrete mathematics and must have 
                        mathematical rigor at least equivalent to introductory calculus. The additional mathematics might include course work in 
                        areas such as calculus, linear algebra, numerical methods, probability, statistics, or number theory.
                        <br><br>
                        (c) At least six semester credit hours (or equivalent) in natural science course work intended for science and engineering 
                        majors. This course work must develop an understanding of the scientific method and must include laboratory work.
                        <br><br>
                    </ol>

                    <b>Criterion 6. Faculty</b><br>
                    Some full-time faculty members must have a Ph.D. in computer science.
                    <br><br>
                </div>
            </div>
        </div>
    </div>



</body>
{% endblock base_body %}