{% extends 'base.html' %} <!-- IMPORTANT -->
{% load staticfiles %}
{% block base_body %} <!-- Will replace base_body block in base.html -->
<body>
    <body style="background-color:#880000;"></body>

    <div class="container-fluid">
        <div class="row" style="margin-right: -15px!important; margin-left: -15px!important;">
            <!-- Left image -->
            <div class="col-lg-6 cold-md-6 d-none d-md-block image-container"></div>
            <!-- Right form -->
            <div class="col-lg-6 col-md-6 form-container">
                <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                    <!-- Header. -->
                    <div class="logo mb-3">
                        <img src="{% static 'img/logo-white.png' %}" width="150px">
                    </div>
                    <div class="heading mb-4">
                        <h4 class="mb-4">
                            Forgot your password?
                        </h4>
                            <label for="post" class="control-label text-white">
                                Enter your email address and we'll 
                                email instructions for setting a new one. 
                            </label>
                    </div>
                    <!-- Django form. -->
                    <form method = "post">
                        {% csrf_token %}
                        <h4> 
                            {{form}}
                            <div class="text-center mb-3">
                                <button type="submit" name="Send email" class="btn btn-primary btn-lg my-4">Submit</button>
                            </div>
                        </h4>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock base_body %}