{% extends 'base.html' %}
{% load staticfiles %}

{% block base_body %}
	<body>
        <body style="background-color:#880000;">
        <!-- Styling -->
        <!-- Will be part of style.css after testing. -->
        <style>
            [id*="outter-col"] {
                padding-top: 6rem;
                padding-bottom: 6rem;
                color: white;
                text-align: center;
                font-weight: bold;
            }
            [id*="inner-col"] {
                padding-top: 5rem;
                text-align: center;
                font-weight: normal;
            }
            [id*="outcomes"] {
                text-align: center;
            }
            [id*="outcome_progress"] {
                width: 75%;
                margin-left: auto;
                margin-right: auto;
            }
        </style>

        <!-- Welcome area. -->
        <div class = "container-md px-0">
            <div class = "row">
                <div class = "col-sm" id="outter-col">
                    {% if message %}
                        <div class="alert alert-{% if error %}danger{% else %}success{% endif %}">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endif %}
                    <h3 class="text pt-2"> Outcome Progress Review Dashboard </h3>
                    
                    <div class = "col-sm" id="inner-col">
                        {% if request.user.role == 'RE' %}
                            {% if outcome_list|length != 0 %}
                                The following outcomes are available for progress review.
                            {% else %}
                                There is nothing to review.
                            {% endif %}
                        {% elif request.user.role == 'AD' %}
                            {% if not all_satisfied %}
                                <form method="POST">
                                    {% csrf_token %}
                                    There are outcomes that have not been satisfied. 
                                    <input hidden name="action" value="remind_all"/>
                                    <button type="submit" class="btn btn-primary">Send faculty reminder</button>
                                </form>
                            {% else %}
                                All outcomes have been satisfied.
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion for collapsable outcomes. -->
        <div class="accordion" id="outcomes">
            {% for outcome in outcome_list %}
                <!-- outcome. -->
                <div class="card">
                    <div class="card-header" id="outcome_{{ outcome.pk }}">
                        <h3>
                            {{ outcome.name }} {% if outcome.percent_complete == 100 %}<i class="fas fa-check-circle" style="color:green;"></i>{% else %}<i class="fas fa-times-circle" style="color:red;"></i>{% endif %}
                            <button class="btn btn-link" id="collapse_btn_{{ outcome.pk }}" type="button" data-toggle="collapse" 
                            data-target="#collapse{{ outcome.pk }}" aria-expanded="false" aria-controls="collapse{{ outcome.pk }}">
                                <i class="fas fa-angle-{% if forloop.counter == 1 %}down{% else %}right{% endif %}"></i>
                            </button>
                        </h3>
                    </div>
                    <div id="collapse{{ outcome.pk }}" class="collapse{% if forloop.counter == 1 %} show{% endif %}" aria-labelledby="outcome_{{ outcome.pk }}" data-parent="#outcomes">
                        <div class="card-body" id="outcome_progress">
                            <div class="align-items-center">
                                <div class="row py-2">
                                    <div class="col-6 text-center">
                                        <p> {{ outcome.description }}</p>
                                    </div>
                                    <div class="col-6 text-center">
                                        <!-- outcome progress bar. -->
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ outcome.percent_complete }}"
                                            aria-valuemin="0" aria-valuemax="100" style="width:{{ outcome.percent_complete }}%"></div>
                                        </div> 
                                        {{ outcome.percent_complete }}%
                                    </div>
                                </div>
                                <h4>Artifacts</h4>
                                {% if outcome.artifacts %}
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <table class="table table-responsive">
                                                <thead class="text-black fs--1">
                                                    <tr>
                                                        <th>Set Name</th>
                                                        <th>Set Type</th>
                                                        <th>Comment</th>
                                                        <th>Upload File</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for artifact in outcome.artifacts %}
                                                        <tr>
                                                            <td>
                                                                {{ artifact.set_name }}
                                                            </td>
                                                            <td>
                                                                {{ artifact.set_type }}
                                                            </td>
                                                            <td>
                                                                {% if artifact.comment != "" %}
                                                                    {{ artifact.comment }}
                                                                {% else %}
                                                                    No comment
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ artifact.name }}
                                                                <span class="goto">
                                                                    <!-- download artifact -->
                                                                    <a href="/download_artifact/{{artifact.id}}/" target="_blank">
                                                                        <i class="fas fa-download" style="color:#880000;"></i>
                                                                    </a>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <p>No artifacts uploaded</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>

    <script>
        $('.collapse').on('show.bs.collapse', function() {
            var pk = $(this).attr('id').replace('collapse', '');
            var btn_id = '#collapse_btn_' + pk;
            $(btn_id).empty(); 
            $(btn_id).append('<i class="fas fa-angle-down"></i>');
        });

        $('.collapse').on('hide.bs.collapse', function() {
            var pk = $(this).attr('id').replace('collapse', '');
            var btn_id = '#collapse_btn_' + pk;
            $(btn_id).empty();
            $(btn_id).append('<i class="fas fa-angle-right"></i>');
        });
    </script>
{% endblock base_body %}