{% extends 'base.html' %} <!-- IMPORTANT -->
{% load staticfiles %}

{% block base_body %} <!-- Will replace base_body block in base.html -->
<body>
        <style>
            [id*="course_select"] {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            [id*="outcome_select"] {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        </style>

    <body style="background-color:#880000;">
    <div class="container">
        <div class="row">
            <!-- WIP -->
            <div class="col-lg-12 col-md-12 form-container">
                <div class="form-box text-center">
                    <div class="logo mb-3 my-4">
                        <img src="{% static 'img/logo-white.png' %}" width="150px">
                    </div>
                    <div class="heading mb-4">
                        <h4>Submission Server</h4>
                    </div>
                    {% if courses.count > 0 %}
                        <form id="submission_form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if error %}
                                <div class="alert alert-danger">
                                    <strong>{{ error_message }}!</strong>
                                </div>
                            {% endif %}
                            <!-- Class dropdown -->
                            <select name="course" id="course_select" class="custom-select-lg my-4">
                                <option value="" {% if linked_course_pk == -1 %}selected{% endif %}>Select Course</option>
                                {% for course in courses %}
                                    <option value="{{ course.pk }}" {% if linked_course_pk == course.pk %}selected{% endif %}>{{ course.title }}</option>
                                {% endfor %}
                            </select>
                            <!-- Upload File -->
                            <h4 class="pt-4">Upload Artifact</h4>
                            <div class="form-group">
                                <span class="btn btn-default btn-file my-4 text-white">
                                    <input id="upload_file" name="upload" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                                </span>
                            </div>
                            <!-- Comment area -->
                            <div class="form-group">
                                <label for="comment" class="control-label text-white">Comment (optional):</label>
                                <textarea class="form-control" name="comment" id="comment"></textarea>
                            </div> 
                            <!-- Outcome dropdown -->
                            <h4 id="outcome_label"></h4>
                            <div id="outcome_select">
                                <!-- Append checkboxes -->                         
                            </div>
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-primary btn-lg my-4" id="submission_button">Submit</button>
                            </div>
                        </form>
                    {% else %}
                        <span class="text-white">You are not assigned to any courses</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

<script id="outcome_script"></script>

<script type="text/javascript">

    $(document).ready(function(){
        $('#course_select').change(function(){
            if($('#course_select').val() != '') {
                ajaxPost('/submission/get_outcomes_ajax/', {
                    'selected_course_pk': $('#course_select').val(),
                }, function(response){
                    if(response != null) {
                        var outcome_name;
                        var outcome_id;
                        $('#outcome_label').html('Apply Outcomes')
                        $('#outcome_select').empty();
                        for(var i=0;i<response.length;i++){
                            outcome_name = response[i]['name'];
                            outcome_id = response[i]['pk'];
                            outcome_description = response[i]['description'];
                            $('#outcome_select').append('<div class="form-check"><input class="form-check-input" name="outcome" type="checkbox" value="' + outcome_id + '"><label class="form-check-label text-white">' + outcome_name + '</label><span data-toggle="tooltip" data-placement="right" title="' + outcome_description + '"><i class="fa fa-question-circle ml-2 text-white" data-fa-transform="shrink-2"></i></span></div>');
                        }
                        $('[data-toggle="tooltip"]').tooltip();
                    }
                });
            }
        });

        $('#course_select').change();
    });
</script>
{% endblock base_body %}