{% extends 'base.html' %} <!-- IMPORTANT -->
{% load staticfiles %}

{% block base_body %} <!-- Will replace base_body block in base.html -->
<body>
        <style>
            [id*="course_select"] {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            [id*="to_set_select"] {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            [id*="new_set_type"] {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            [id*="outcome_select"] {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            [id*="helpbutton"]:hover {
                color: black !important;
            }
        </style>

    <body style="background-color:#880000;">
    <br><br>
    <div class="container">
        <div class="row">
            <!-- WIP -->
            <div class="col-lg-12 col-md-12 form-container">
                <div class="form-box text-center">
                    <br><br>
                    <div class="logo mb-3 my-4">
                        <img src="{% static 'img/logo-white.png' %}" width="150px">
                    </div>
                    <div class="heading mb-4">
                        <h4>
                            Submission Server
                            <!-- Help button. -->
                            <a class="control-label text-white" data-toggle="modal" data-target="#help1"> 
                                <i class="far fa-question-circle fa-xs" id="helpbutton"></i>
                            </a>
                            <!-- End help button.-->
                        </h4>
                    </div>
                    {% if courses.count > 0 %}
                        <form id="submission_form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if error %}
                                <div class="alert alert-danger">
                                    <strong>{{ error_message }}!</strong>
                                </div>
                            {% endif %}
                            <!-- Class dropdown -->
                            <select name="course" id="course_select" class="custom-select-lg my-4">
                                <option value="" {% if linked_course_pk == -1 %}selected{% endif %}>Select Course</option>
                                {% for course in courses %}
                                    <option value="{{ course.pk }}" {% if linked_course_pk == course.pk %}selected{% endif %}>{{ course.title }}</option>
                                {% endfor %}
                            </select>
                            <!-- Upload File -->
                            <label for="upload" class="control-label text-white mt-4">Upload Artifact</label>
                            <div id="artifact_section">
                                <div  class="form-group">
                                    <span class="btn btn-default btn-file text-white mb-2">
                                        <input id="upload_file_1" name="upload" type="file" class="file" data-show-upload="true" data-show-caption="true">
                                    </span>
                                </div>
                            </div>
                            <div class="mb-4">
                                <a id="add_file_button" class="btn btn-primary my-4">+ Add Another File</a>
                            </div>
                            <!-- To set dropdown -->
                            <select name="to_set" id="to_set_select" class="custom-select-lg my-4">
                                <option value="" selected>Add to existing set</option>
                            </select>
                            <div class="form-input mb-4" id="new_set_section">
                                <label for="new_set_name" class="control-label text-white">Or Create New Set (Optional)</label>
                                <input name="new_set_name" id="new_set_name" type="text" placeholder="New Set Name" value="">
                                <select name="new_set_type" id="new_set_type" class="custom-select-lg my-2">
                                    {% for choice in SET_TYPE_CHOICES %}
                                        <option value="{{ choice.0 }}" {% if forloop.first %}selected{% endif %}>New Set Type: {{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Comment area -->
                            <div class="form-group">
                                <label for="comment" class="control-label text-white">Comment:</label>
                                <textarea class="form-control" name="comment" id="comment" placeholder="Briefly describe your artifact..."></textarea>
                            </div> 
                            <!-- Outcome checkboxes -->
                            <label id="outcome_label" class="control-label text-white mt-4"></label>
                            <div class="row justify-content-center" id="outcome_table_section" style="display: none;">
                                <table class="table table-responsive center" style="width: 450px; font-size: 80%;">
                                    <thead class="text-white fs--1">
                                        <tr>
                                            <th>Select</th>
                                            <th width="100">Outcome</th>
                                            <th width="400">Description</th>
                                            <th>Satisfied</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-white fs--1" id="outcome_table_body">
                                        <!-- Append outcomes via ajax -->
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg mb-4" id="submission_button">Submit</button>
                            </div>
                            <br>
                        </form>
                    {% else %}
                        <span class="text-white">You are not assigned to any courses</span>
                    {% endif %}
                </div>

                <!-- Start of modal help. -->
                <!-- Need help? First slide. -->
                <div class="modal fade" id="help1" role="dialog" style="z-index: 10001;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Need help?
                                </h4>
                            </div>
                            <div class="modal-body">
                                This submission server is for Florida Tech faculty to upload various content for reviewal
                                by ABET for accreditation purposes. 
                                
                                <br><br>
                                Our Computer Science and Software Engineering programs will be visited by ABET Program 
                                Evaluators in Fall 2021. There are several criteria they will evalute to see if we meet 
                                the standards for on-going accreditation.

                                <br><br>
                                Click next to learn the process.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Next</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Need help? Second slide. -->
                <div class="modal fade" id="help2" role="dialog" style="z-index: 10001;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Step 1. Select a course.
                                </h4>
                            </div>
                            <div class="modal-body">
                                <img class="img-responsive" src="{% static 'img/help/step1.gif' %}" style="width:100%; height:auto;">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger">Prev</button>
                                <button type="button" class="btn btn-primary">Next</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Need help? Third slide. -->
                <div class="modal fade" id="help3" role="dialog" style="z-index: 10001;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Step 2. Choose a file.
                                </h4>
                            </div>
                            <div class="modal-body">
                                <img class="img-responsive" src="{% static 'img/help/step2.gif' %}" style="width:100%; height:auto;">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger">Prev</button>
                                <button type="button" class="btn btn-primary">Next</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Need help? Fourth slide. -->
                <div class="modal fade" id="help4" role="dialog" style="z-index: 10001;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Step 3. Choose applicable outcomes.
                                </h4>
                            </div>
                            <div class="modal-body">
                                <img class="img-responsive" src="{% static 'img/help/step3.gif' %}" style="width:100%; height:auto;">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger">Prev</button>
                                <button type="button" class="btn btn-primary">Next</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Need help? Fifth slide. -->
                <div class="modal fade" id="help5" role="dialog" style="z-index: 10001;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Step 4. Submit.
                                </h4>
                            </div>
                            <div class="modal-body">
                                <img class="img-responsive" src="{% static 'img/help/step4.gif' %}" style="width:100%; height:auto;">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger">Prev</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of modal help.-->

            </div>
        </div>
    </div>
</body>

<script id="outcome_script"></script>

<script type="text/javascript">

    $(document).ready(function(){
        $('#course_select').change(function(){
            if($('#course_select').val() != '') {
                ajaxPost('/submission/get_outcomes_ajax/', {
                    'selected_course_pk': $('#course_select').val(),
                }, function(response){
                    if(response != null) {
                        var outcome_name;
                        var outcome_id;
                        $('#outcome_label').html('Apply Outcomes');
                        $('#outcome_table_section').show();
                        $('#outcome_table_body').empty();
                        for(var i=0;i<response.length;i++){
                            outcome_name = response[i]['name'];
                            outcome_id = response[i]['pk'];
                            outcome_description = response[i]['description'];
                            outcome_satisfied = response[i]['satisfied'];
                            if(outcome_satisfied ==  true) {
                                outcome_satisfied_html = '<i class="fas fa-check-circle" style="color:green;">'
                            } 
                            else {
                                outcome_satisfied_html = '<i class="fas fa-times-circle" style="color:grey;"></i>'
                            }
                            $('#outcome_table_body').append('<tr><td><div class="form-check"><input class="form-check-input" name="outcome" type="checkbox" value="' + outcome_id + '"></td><td>' + outcome_name + '</td><td>' + outcome_description + '</td><td>' + outcome_satisfied_html + '</td></tr>');
                        }
                    }
                });
                ajaxPost('/submission/get_sets_ajax/', {
                    'selected_course_pk': $('#course_select').val(),
                }, function(response){
                    if(response != null) {
                        var to_set_name;
                        var to_set_id;

                        $('#to_set_select').html('<option value="" selected>Select Existing Target Set</option>');
                        for(var i=0;i<response.length;i++){
                            to_set_name = response[i]['name'];
                            to_set_id = response[i]['id'];
                            $('#to_set_select').append('<option value="' + to_set_id +'">' + to_set_name + '</option>');
                        }
                    }
                });
            }
            else {
                $('#to_set_select').html('<option value="" selected>Select Existing Target Set</option>');
                $('#outcome_label').html('');
                $('#outcome_table_section').hide();
                $('#outcome_table_body').empty();
            }
            $('#to_set_select').val('');
            $('#to_set_select').change();
        });

        $('#course_select').change();

        $('#to_set_select').change(function(){
            if($('#to_set_select').val() == '') {
                $('#new_set_section').show();
            }
            else {
                $('#new_set_section').hide();
            }
        });

        $('#artifact_select').change();
    });

    var num_files = 1
    var max_files = 5
    var upload_limit = false

    $("#add_file_button").click(function(){
        if(num_files < max_files){
            num_files = num_files+1
            $("#artifact_section").append('<div class="form-group"><span class="btn btn-default btn-file text-white mb-2"><input id="upload_file_' + num_files.toString() + '" name="upload" type="file" class="file" data-show-upload="true" data-show-caption="true"></span></div>')
        }
        else if(!upload_limit){
            $("#artifact_section").append('<div class="alert alert-danger"><strong>File Limit Reached!</strong></div>')
            upload_limit = true
        }

            

    })

    // Modal slider functionality.
    $("div[id^='help']").each(function(){
        var slide = $(this);

        // Next functionality.
        slide.find('.btn-primary').click(function(){
            // Hide previous modal.
            slide.modal('hide');
            // Show next modal.
            slide.closest("div[id^='help']").nextAll("div[id^='help']").first().modal('show');
        });

        // Previous functionality.
        slide.find('.btn-danger').click(function(){
            // Hide previous modal. 
            slide.modal('hide');
            // Show previous modal.
            slide.closest("div[id^='help']").prevAll("div[id^='help']").first().modal('show');
        });

    });
    
</script>
{% endblock base_body %}